@mixin list-item(){
    display:block;
    border: 0px;
    background-color:transparent;
}
.file-tree-panel {
    display:inline-block;
    width: 30%;
    height:100%;
    vertical-align:top;
    border-right:2px solid black;
}
.right-panel {
    display:inline-block;
    overflow-x: scroll;
    overflow-y: scroll;
    width:68%;
    height:100%;
}
.code-panel {  
    position:fixed;
    right:0px;
    width: 30%;
    min-width: 500px;
    height:100%;
    border: 2px solid black;
    border-right: 0px;
}
.code-selector {
    width: 100%;
    border-bottom: 2px solid black;
}
.list {
    padding-left: 10px;
    list-style: none;
}
.code-folder-closed,.code-folder-open {
    @include list-item();
}
.code-folder-open::before {
    content:'\25b7';
}
.code-folder-closed::before {
    content:'\25bc';
}
.code-select-item {
    @include list-item();
    display: inline-block;
}
button {
    display: block;
}
body {
    margin: 0px;
}